:root {
  --color-bg: #FFF8E7;
  --color-fg: #2F3337;
  --color-fg-mute: #42474D;
  --color-accent-hard: #E23C5D;
  --color-accent-soft: #41B49D;

  --font-serif: "Coelacanth", "Georgia", "serif";
  --font-sans: "Alegreya Sans", "sans";
  --font-mono: "Iosevka", "Monaco", "Courier New", "Courier", "monospace";
  --font-title: var(--font-sans);
  --font-body: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
    :root {
      --color-bg: #2F3337;
      --color-fg: #FFF8E7;
      --color-fg-mute: #FFEDC2;
      --color-accent-hard: #69C9B6;
      --color-accent-soft: #E75E79;
    }
}

html {
  font-family: var(--font-body);
  height: 100%;
  display: flex;
}

body {
  width: 100%;
  margin: 0;
	padding: 0 20px 0 40px;
  display: flex;
  flex-direction: column;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

.zettel {
  flex-grow: 1;
}

.zettel__title {
  font-size: 2.3rem;
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

.org-dl {
  display: flex;
  margin: 0;
  margin-bottom: 1rem;
}

.org-dl dt::after {
  content: ":";
  margin-right: 0.4em;
}

.org-dl dd {
  margin-left: 0;
  display: flex;
  gap: 0.4em;
}

pre, code {
  font-family: var(--font-mono);
  font-size: 0.8rem; /* Iosevka runs big */
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin-top: 1.3rem;
  margin-bottom: 0.7rem;
}

h2 {
  font-size: 1.1rem;
}

h1:target,
h2:target,
h3:target,
h4:target,
h5:target,
h6:target {
  color: var(--color-accent-hard);
  font-weight: bold;
}

p, ul, blockquote, pre, td, th, label {
	margin: 0;
	margin-bottom: 0.7rem;
}

p.small, #postamble {
	margin: 0;
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
}

table {
	border-collapse: collapse;
	margin-bottom: 1.5em;
}

a {
  color: unset;
  font-style: italic;
}

a:focus, a:hover {
  color: var(--color-accent-soft);
}

a:active {
  color: var(--color-accent-hard);
}

/* @end */

/* @group Layout */

#content {
	width: 70em;
	margin-left: auto;
	margin-right: auto;
}

/* #header {
	height: 10em;
}
*/

#table-of-contents {
	width: 15em;
	float: left;
	overflow: auto;
}

#text-table-of-contents a {
    font-family: var(--font-body);
}

/* #main { */
div.outline-2 {
        width: 52em;
	float: right;
	/* The lines below are useful if the "main" div isn't available and
	   div.outline-2 has to be used. */
	position: relative;
}

#postamble {
	clear: both;
	text-align: center;
}

div.outline-2 pre {
    width: 40em;
    overflow: auto;
}

/* @end */

/* @group Header */

h1.title {
	margin-top: 10px;
	text-align: center;
}

h1.title {
	font-size: 3em;
	font-weight: bold;

	margin-bottom: 0.8em;
}

a.headline-anchor {
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
  text-decoration: none;
}

a.headline-anchor::before {
  content: "§";
}

/* @group Outline Level 2 */

.outline-2 h2 {
    background: #ffc;
    border-bottom: 1px solid #ccc;
}

.outline-2 h2, .outline-2 h3 {
    letter-spacing: -0.05em;
}

.outline-2 {
	padding: 5px;
	/* margin-bottom: 10px; */
	/* border-top: 1px solid #ccc; */
}

/* @end */

.willopedia-title {
  display: flex;
  align-items: baseline;
  margin-top: 4rem;
}

.willopedia-title__main {
  font-size: 2.2rem;
  border-right: 1px solid #777;
  padding-right: 12px;
  margin-right: 12px;
}

.willopedia-title__sub {
  font-size: 1.1rem;
  color: #777;
}

.footer__links {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

td {
	border: 1px solid #ccc;
}

.outline-1, .outline-2, .outline-3, .outline-4, .outline-5, .outline-6 {
    margin-left: 2em;
}

#postamble p {
    margin: 0px;
}

.footpara { display: inline; }

.footdef { margin-bottom: 3em; font-size: 80%; }
